<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
<!--        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl" />-->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <typeAliases>

        <typeAlias type="kr.co.test.week2board.board.model.BoardModel" alias="boardModel" />
        <typeAlias type="kr.co.test.week2board.board.model.ListsModel" alias="listsBoard" />
        <typeAlias type="kr.co.test.week2board.board.model.ListsEntity" alias="listsEntity" />
        <typeAlias type="kr.co.test.week2board.board.model.DetailResponse" alias="detailResponse" />
        <typeAlias type="kr.co.test.week2board.board.model.InsertEntity" alias="insertEntity" />
        <typeAlias type="kr.co.test.week2board.board.model.isCurrentPassword" alias="password" />
        <typeAlias type="kr.co.test.week2board.board.model.UpdateRequest" alias="updateRequest" />

        <typeAlias type="kr.co.test.week2board.board.model.AttachModel" alias="attach" />

        <typeAlias type="kr.co.test.week2board.codes.model.CategoryResponseVO" alias="categories" />

    </typeAliases>


</configuration>
