<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl" />
    </settings>

    <typeAliases>
        <typeAlias type="kr.co.test.week2board.board.model.BoardDTO" alias="board" />
        <typeAlias type="kr.co.test.week2board.board.model.CategoryDTO" alias="category" />
        <typeAlias type="kr.co.test.week2board.board.model.AttachDTO" alias="attach" />
        <typeAlias type="kr.co.test.week2board.board.model.SearchFilterDTO" alias="searchFilter" />

        <typeAlias type="kr.co.test.week2board.board.model.BoardResponseDTO" alias="boardResponse" />

        <typeAlias type="kr.co.test.week2board.board.model.ListResponseVO" alias="listResponse" />
        <typeAlias type="kr.co.test.week2board.board.model.ListRequestDTO" alias="listRequest" />
    </typeAliases>


</configuration>
