<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardApi">

    <sql id="selectWhere">
        FROM tb_board b
        LEFT JOIN tb_category c ON b.categoryCode = c.id
        WHERE b.useYn = 'Y'

        <if test="fromDt != null and fromDt != ''">
            AND b.createdAt &gt;= CONCAT(#{fromDt}, '00:00:00')
        </if>

        <if test="toDt != null and toDt != ''">
            AND b.createdAt &lt;= CONCAT(#{toDt}, ' 23:59:59')
        </if>

        <if test="categoryId != null and categoryId != ''">
            AND b.categoryCode = #{categoryId}
        </if>

        <if test="keyword != null and keyword != ''">
            AND (
            b.title LIKE CONCAT('%', #{keyword}, '%') OR
            b.content LIKE CONCAT('%', #{keyword}, '%') OR
            b.writer LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    </sql>

    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_board (title, content, writer, password, attachYn, categoryCode)
        VALUES(#{title}, #{content}, #{writer}, #{password}, #{attachYn}, #{categoryCode});
    </insert>

    <!--    <resultMap id="BoardResponseMap" type="boardResponse">-->
    <!--        <result column="totalCnt" property="totalCnt" javaType="Long" />-->
    <!--&lt;!&ndash;        <association property="paging" javaType="paging" />&ndash;&gt;-->
    <!--        <collection property="board" ofType="board" />-->
    <!--        <collection property="category" ofType="category" />-->
    <!--        <collection property="filter" ofType="searchFilter" />-->
    <!--    </resultMap>-->

    <select id="countAll" resultType="long" parameterType="listsEntity">
        SELECT COUNT(*) as totalCount
        <include refid="selectWhere"/>
    </select>

    <select id="findAll" resultType="listsBoard" parameterType="listsEntity">
        SELECT b.*,
        c.name AS categoryName
        <include refid="selectWhere"/>
        ORDER BY b.id DESC
        LIMIT #{fetchCnt}
        <choose>
            <when test="offset != 0">
                OFFSET #{offset}
            </when>
            <otherwise>
                OFFSET 0
            </otherwise>
        </choose>
    </select>
<!--        OFFSET (#{currentPage} - 1) * #{fetchCnt};-->
<!--        <choose>-->
<!--            <when test="currentPage != null and currentPage != ''">-->
<!--                LIMIT (#{currentPage} - 1) * #{fetchCnt}, #{fetchCnt}-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                LIMIT 0, #{fetchCnt}-->
<!--            </otherwise>-->
<!--        </choose>-->

    <select id="findById" parameterType="long" resultType="detailResponse">
        SELECT b.*, c.name AS categoryName
        FROM tb_board b
                 LEFT JOIN tb_category c ON b.categoryCode = c.id
        WHERE b.useYn = 'Y'
          AND b.id = #{id}
        ORDER BY b.id DESC;
    </select>

    <update id="update" parameterType="board">
        UPDATE tb_board
        SET
            title = #{title},
            content = #{content},
            writer = #{writer},
            categoryCode = #{categoryCode},
            password = #{password},
            updatedAt = NOW()
        WHERE
            id = #{id};
    </update>

    <update id="updateViewCnt" parameterType="Long">
        UPDATE tb_board
        SET viewCnt = viewCnt + 1
        WHERE id = #{id};
    </update>

    <select id="categoryAll" resultType="category">
        SELECT *
        FROM tb_category
        WHERE useYn = 'Y';
    </select>

    <update id="remove" parameterType="Long">
        UPDATE tb_board
        SET
            useYn = 'N'
        WHERE
            id = ${id};
    </update>

    <insert id="saveFile" parameterType="attach">
        INSERT INTO board_attach (boardId, originalFileName, storedFileName)
        VALUES(#{boardId}, #{originalFileName}, #{storedFileName});
    </insert>

    <select id="attachAll" parameterType="Long" resultType="attach">
        SELECT * FROM board_attach
        WHERE boardId = #{id}
          AND useYn = 'Y'
        ORDER BY id DESC;
    </select>

    <select id="attachById" parameterType="String" resultType="attach">
        SELECT * FROM board_attach
        WHERE storedFileName = #{name}
          AND useYn = 'Y'
        ORDER BY id DESC;
    </select>


</mapper>