<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (title, content, writer, password, attachYn, categoryCode)
        VALUES(#{title}, #{content}, #{writer}, #{password}, #{attachYn}, #{categoryCode});
    </insert>

<!--    <resultMap id="BoardResponseMap" type="boardResponse">-->
<!--        <result column="totalCnt" property="totalCnt" javaType="Long" />-->
<!--&lt;!&ndash;        <association property="paging" javaType="paging" />&ndash;&gt;-->
<!--        <collection property="board" ofType="board" />-->
<!--        <collection property="category" ofType="category" />-->
<!--        <collection property="filter" ofType="searchFilter" />-->
<!--    </resultMap>-->

    <select id="countBoards" resultType="Long" parameterType="searchFilter">
        SELECT COUNT(*) as totalCount
        FROM board
        WHERE useYn = 'Y'
          AND createdAt BETWEEN CONCAT(#{fromDt}, ' 00:00:00') AND CONCAT(#{toDt}, ' 23:59:59')
        <if test="categoryId != null and categoryId != ''">
          AND categoryCode = #{categoryId}
        </if>
        <if test="keyword != null and keyword != ''">
          AND (
            title LIKE CONCAT('%', #{keyword}, '%') OR
            content LIKE CONCAT('%', #{keyword}, '%') OR
            writer LIKE CONCAT('%', #{keyword}, '%')
          )
        </if>
    </select>

    <select id="findAll" resultType="board" parameterType="searchFilter">
        SELECT b.*,
               c.name AS categoryName
        FROM board b
                 LEFT JOIN category c ON b.categoryCode = c.id
        WHERE b.useYn = 'Y'
          AND b.createdAt BETWEEN CONCAT(#{fromDt}, ' 00:00:00') AND CONCAT(#{toDt}, ' 23:59:59')
        <if test="categoryId != null and categoryId != ''">
          AND b.categoryCode = #{categoryId}
        </if>

        <if test="keyword != null and keyword != ''">
          AND (
            b.title LIKE CONCAT('%', #{keyword}, '%') OR
            b.content LIKE CONCAT('%', #{keyword}, '%') OR
            b.writer LIKE CONCAT('%', #{keyword}, '%')
          )
        </if>
        ORDER BY b.id DESC
        LIMIT #{offset}, #{fetchCnt}
    </select>

    <select id="findById" parameterType="Long" resultType="board">
        SELECT b.*, c.name AS categoryName
        FROM board b
                 LEFT JOIN category c ON b.categoryCode = c.id
        WHERE b.useYn = 'Y'
        AND b.id = #{id}
        ORDER BY b.id DESC;
    </select>

    <update id="update" parameterType="board">
        UPDATE board
        SET
            title = #{title},
            content = #{content},
            writer = #{writer},
            categoryCode = #{categoryCode},
            password = #{password},
            updatedAt = NOW()
        WHERE
            id = ${id};
    </update>

    <update id="updateViewCnt" parameterType="Long">
        UPDATE board
        SET viewCnt = viewCnt + 1
        WHERE id = #{id};
    </update>

    <select id="categoryAll" resultType="category">
        SELECT *
        FROM category
        WHERE useYn = 'Y';
    </select>

    <update id="remove" parameterType="Long">
        UPDATE board
        SET
            useYn = 'N'
        WHERE
            id = ${id};
    </update>

    <insert id="saveFile" parameterType="attach">
        INSERT INTO board_attach (boardId, originalFileName, storedFileName)
        VALUES(#{id}, #{originalFileName}, #{storedFileName});
    </insert>

</mapper>