<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="save" parameterType="board">
        INSERT INTO board (title, content, writer, password)
            VALUES(#{title}, #{content}, #{writer}, #{password});
    </insert>

    <select id="findAll" resultType="board">
        SELECT b.*, c.name AS categoryName
        FROM board b
                 LEFT JOIN category c ON b.categoryCode = c.id
        WHERE b.useYn != 'N'
        ORDER BY b.id DESC;
    </select>

    <select id="findById" parameterType="Long" resultType="board">
        SELECT *
#              ,DATE_FORMAT(createdAt, '%Y-%m-%d') AS createdDt
#              ,DATE_FORMAT(updatedAt, '%Y-%m-%d') AS updatedDt
        FROM board
        WHERE useYn != 'N'
        AND id = #{id};
    </select>

    <update id="updateViewCnt" parameterType="Long">
        UPDATE board
        SET viewCnt = viewCnt + 1
        WHERE id = #{id};
    </update>

</mapper>